LOOPS

For Loop

In [4]:
for i in range (17,171,17):
    print(i)

17
34
51
68
85
102
119
136
153
170

In [ ]:
# Practise

for i in range (2,10,3):
    print(i)

2
5
8

In [11]:
# WAP to print all odd numbers from 1 to 12

for i in range (1,13):
    if (i%2!=0):
        print(i)

1
3
5
7
9
11

In [19]:
fruits = ['orange','apple','banana','kiwi','grapes']

for i in fruits:
    print(i,i,sep='*')


for i in fruits:
    print(i,end='')

orange*orange
apple*apple
banana*banana
kiwi*kiwi
grapes*grapes
orangeapplebananakiwigrapes

In [29]:
#WAP to print the table of 24 till 10

for i in range(1,11):
    print('24 * ',(i),'=',(24*i))

#Using f strings
for i in range (1,11):
    print(f"24 * {i} = {24*i}")

24 *  1 = 24
24 *  2 = 48
24 *  3 = 72
24 *  4 = 96
24 *  5 = 120
24 *  6 = 144
24 *  7 = 168
24 *  8 = 192
24 *  9 = 216
24 *  10 = 240
24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240

In [33]:
#WAP to find all the numbers divisible by 3 from a range entered by the user

a = int(input('Enter the number from where you wanna start'))
b = int(input('Enter the number till where you want to go'))
for i in range(a,b):
    if(i%3==0):
        print(i,end=" ")

6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300 303 306 309 312 315 318 321 324 327 330 333 336 339 342 345 348 351 354 357 360 363 366 369 372 375 378 381 384 387 390 393 396 399 402 405 408 411 414 417 420 423 426 429 432 435 438 441 444 447 450 453 456 459 462 465 468 471 474 477 480 483 486 489 492 495 498 501 504 507 510 513 516 519 522 525 528 531 534 537 540 543 546 549 552 555 558 561 564 567 570 573 576 579 582 585 588 591 594 597 600 603 606 609 612 615 618 621 624 627 630 633 636 639 642 645 648 651 654 657 660 663 666 669 672 675 678 681 684 687 690 693 696 699 702 705 708 711 714 717 720

In [36]:
# WAP to find all even numbers form 1 to 100

for i in range(1,101):
    if(i%2==0):
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [39]:
#WAP to find the numbers between 323 and 4567 which are divisible by 7 and 5

for  i in range(323,4568):
    if(i%7==0 and i%5==0):
        print(i,end = ' ')

350 385 420 455 490 525 560 595 630 665 700 735 770 805 840 875 910 945 980 1015 1050 1085 1120 1155 1190 1225 1260 1295 1330 1365 1400 1435 1470 1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695 2730 2765 2800 2835 2870 2905 2940 2975 3010 3045 3080 3115 3150 3185 3220 3255 3290 3325 3360 3395 3430 3465 3500 3535 3570 3605 3640 3675 3710 3745 3780 3815 3850 3885 3920 3955 3990 4025 4060 4095 4130 4165 4200 4235 4270 4305 4340 4375 4410 4445 4480 4515 4550

In [53]:
#WAP to find the sum of first 100 natural numbers 
c=0
for i in range(1,101):
    c = c+i
    print(c)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

While LOOP

In [56]:
#WAP to print the table of 24 till 10

num=1
while(num<=10):
    print(f'24*{num}={24*num}')
    num = num+1

24*1=24
24*2=48
24*3=72
24*4=96
24*5=120
24*6=144
24*7=168
24*8=192
24*9=216
24*10=240

In [57]:
#WAP to find the sum of first 100 natural numbers

i=1
sum=0
while(i<=100):
    sum+=i
    print(sum)
    i+=1

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

BREAK and CONTINUE

BREAK: Break statement ends the loop

In [61]:
fruits =['orange','apple','banana','kiwi','grapes']
for i in fruits:
    if (i== 'kiwi'):
        break
    print(i)

orange
apple
banana

CONTINUE : Continue statement skips the current loop

In [62]:
fruits =['orange','apple','banana','kiwi','grapes']
for i in fruits:
    if(i=='banana'):
        continue
    print(i)

orange
apple
kiwi
grapes