- how to declare dictionary
- how to access key and values
- how to apply loops
- how to make nested dictionaries
- how to access values in nested dictionary

In [4]:
A = {1:'one',2:'two',
    3:'three',4:'four',
    5:'five'
}
print(A)
print(A[5],A[2])

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
five two

In [7]:
student= {
    'name':'Alice',
    'age':20,
    'city' : 'Lko'
}

MULTIPLE VALUES

In [3]:
temp = {
    'lko' : [35,40,38],
    'delhi' : [30,32,34,],
    'mumbai' : [28,26,30]
}
print(temp)

{'lko': [35, 40, 38], 'delhi': [30, 32, 34], 'mumbai': [28, 26, 30]}

TYPE CAST

In [12]:
info = dict(name = 'Aice',age = 23,city = 'lko')
print(info)

{'name': 'Aice', 'age': 23, 'city': 'lko'}

USER INPUT

In [13]:
info = dict(name = input('Enter your name'),age = 23,city = 'lko')
print(info)

{'name': 'TJ', 'age': 23, 'city': 'lko'}

In [16]:
#1st method to access value through key
student['name']
info['age']

23

In [8]:
#2nd method to access value through key
student.get("name")
temp.get("lko")

[31, 52, 25]

DICTIONARY METHODS

In [21]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 20, 'Lko'])
dict_items([('name', 'Alice'), ('age', 20), ('city', 'Lko')])

LOOPS IN DICTIONARY

In [26]:
for k in info:
    print(k)


for k,v in info.items():
    print(f'{k}:{v}')

name
age
city
name:TJ
age:23
city:lko

NESTED DICTIONRY

In [30]:
company ={
    'emp001':{
        'name':'Alice',
        'age': 30,
        'department' : 'HR'
    },
    'emp002':{
        'name':'Bob',
        'age': 25,
        'department' : 'IT'
    },
    'emp003':{
        'name':'Charlie',
        'age': 29,
        'department' : 'Finance'
    },
}

print(company)

{'emp001': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'emp003': {'name': 'Charlie', 'age': 29, 'department': 'Finance'}}

ADD A VALUE

In [31]:
company['emp004'] = {
    'name' : 'David',
    'age' : 35,
    'department':'Marketing'
}

print(company)

{'emp001': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'Bob', 'age': 25, 'department': 'IT'}, 'emp003': {'name': 'Charlie', 'age': 29, 'department': 'Finance'}, 'emp004': {'name': 'David', 'age': 35, 'department': 'Marketing'}}

ACCESS ELEMENTS IN NESTED DICTIONARY

In [32]:
company['emp002']['department']

'IT'

In [ ]:
#WAP to print the average temparature of lko key of dictionary

temp = {'lko':[31,52,25],
        'del':[65,13,62],
        'Mum':[30,53,36],
}
sum = 0
num = 0
print(temp)
B = temp['lko']
for i in B:
    sum = sum + i
    num = num + 1
print('Average is ',sum/num)

{'lko': [31, 52, 25], 'del': [65, 13, 62], 'Mum': [30, 53, 36]}
Average is  36.0

In [5]:
#WAP to print the average temparature of lko key of dictionary

round(sum(temp['lko'])/len(temp['lko']),2)

37.67

PRACTISE QUESTION

In [17]:
Year = {1:input('Enter your month'),2:'February',3:'March',4:'April',5:'May',6:'June'}
print(Year)
Year[5]
Year.get(3)

{1: 'Jan', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June'}

'March'