- user defined functions
  - parameterizef function
  - non parameterized functions
  - return function
  - non return function
  - default parameterized function
  - lambda function

- Built in function

In [11]:
#Non paramterized function
def greet(): #function initialization
    print('Hello user')
    print('Welcome to our function notebook')
    print('See you in another class')

print('Hello Again')

Hello Again

In [6]:
greet() #Function calling

Hello user
Welcome to our function notebook
See you in another class

In [10]:
greet()

Hello user
Welcome to our function notebook
See you in another class

In [12]:
#parameterized function
def sum(a,b): #Parameters
    print(a+b)

In [15]:
sum(5,6)

11

In [30]:
#non return function
def avd(a,b,c,d):
    print((a+b+c+d)/4)

average = avd(10,20,30,40)
print(average)

25.0
None

In [31]:
#return function
def avg(a,b,c,d):
    return(a+b+c+d)/4

average = avg(10,20,30,40)
print(average)

25.0

In [34]:
#default parameterized
def myCountry(country='INDIA'):
    print(f'I love {country}')
 




myCountry("USA")
myCountry("Canada")
myCountry("UK")
myCountry()

I love USA
I love Canada
I love UK
I love INDIA

In [65]:
#Lambda function
square = lambda a:a**2
print(square(5))

square(5)

25

25

In [43]:
def even(a):
    if(a%2==0):
        return ('Even')
    else:
        return ("Odd")
num=even(25)
print(num)

Odd

In [66]:
even = lambda n: print("Even number") if n%2==0 else print('odd number')
even(6)

Even number

 - to find number is prime or not

In [54]:
def prime(n):
    for i in range(2,n):
        if(n%i == 0):
            print('not prime')
            break
    else:
     print('Prime')


prime(3)

Prime

to check a year leap or not

In [53]:
def leap(a):
    if(a%4==0 and a%100!=0) or (a%400 ==0):
        print('leap year')
    else:
        print('Not a leap yeaer') 

leap(2025)

Not a leap yeaer

to calcutate 10% of 200000

In [62]:
def percent():
    print(10/100*200000)

percent()

20000.0

Q1 to take a list of 5 numbers and return square of each nmber

In [93]:
#Q1 Normal Method
H1 = [int(input()),int(input()),int(input()),int(input()),int(input())]
a=[]
a = [H1[0]**2,H1[1]**2,H1[2]**2,H1[3]**2,H1[4]**2]
print(a)

[1, 4, 9, 16, 25]

In [94]:
#Different method
ls=[1,2,3,4,5]
la = []
for i in ls:
    la.append(i**2)

print(la)

[1, 4, 9, 16, 25]

In [89]:
#Q1 Using function
def list(a):
    a = [int(input()),int(input()),int(input()),int(input()),int(input())]
    return([a[0]**2,a[1]**2,a[2]**2,a[3]**2,a[4]**2])

G= list('a')
print(G)

[1, 4, 9, 16, 25]

Q2 to take a list of 10 numbers and return a new list with only even number

In [ ]:
#Q2 Normal Method
B = [int(input()),int(input()),int(input()),int(input()),int(input()),
     int(input()),int(input()),int(input()),int(input()),int(input())]
C=[]

for  i in (B):
    if i%2==0:
        C.append(i)

print(C)

[2, 4, 6, 8, 10]

In [88]:
#Q2 Using function

def ab(c):
     c = [int(input()),int(input()),int(input()),int(input()),int(input()),
     int(input()),int(input()),int(input()),int(input()),int(input())]
     d=[]
     for i in c:
          if i%2==0:
               d.append(i)
     return(d)

ex = ab('f')
print(ex)

[2, 4, 6, 8, 0]