In [1]:
import pandas as pd

- dataset creation
    - from list of dictonaries
    - from dictionary of list
    - from importing csv, xlsx file
- getting basic insights of dataset
- selection of data
-data cleaning and manipulation

In [2]:
movies = {
    'title' : ['RRR','KGF2','I','DDLJ'],
    'year' : ['2022','2022','2010','1995'],
    'rating' : [8.8,8.4,7.0,8.1]
}
df = pd.DataFrame(movies)
df

  title  year  rating
0   RRR  2022     8.8
1  KGF2  2022     8.4
2     I  2010     7.0
3  DDLJ  1995     8.1

In [62]:
movies = [{'title':'RRR','year':2022,'rating':8.8},
          {'title':'KGF2','year':2022,'rating':8.4},
          {'title':'I','year':2022,'rating':8.4},
          {'title':'DDLJ','year':1995,'rating':8.1}
]

df=pd.DataFrame(df)
df

  title  year  rating
0   RRR  2022     8.8
1  KGF2  2022     8.4
2     I  2010     7.0
3  DDLJ  1995     8.1

In [63]:
df.head(10) #by default first 5 rows

  title  year  rating
0   RRR  2022     8.8
1  KGF2  2022     8.4
2     I  2010     7.0
3  DDLJ  1995     8.1

In [64]:
df.tail()  # last 5 rows

  title  year  rating
0   RRR  2022     8.8
1  KGF2  2022     8.4
2     I  2010     7.0
3  DDLJ  1995     8.1

In [65]:
df.sample(5)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [ ]:
df.info() # basic info of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4 non-null      object
 1   year    4 non-null      object
 2   rating  4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [35]:
df.describe() #statistical info of dataset

         rating
count  4.000000
mean   8.075000
std    0.771902
min    7.000000
25%    7.825000
50%    8.250000
75%    8.500000
max    8.800000

In [39]:
df.columns.tolist()

['title', 'year', 'rating']

In [41]:
- row wise selection
  - iloc - selection based on indexing
  - loc - selection based on label

- column wise selection
  > single column selection
   - dictionary like selection
   - object like selection

  > mmultiple column selection
   - dictionary like selection

SyntaxError: invalid syntax (763204570.py, line 1)

In [47]:
df.iloc[5]

IndexError: single positional indexer is out-of-bounds

In [ ]:
df.iloc[2:6,3:6] # rows 2 to 5 and columns 3 to 5

Empty DataFrame
Columns: []
Index: [2, 3]

In [50]:
df.iloc[1:11:2] # rows 1 to 10 with step size of 2

  title  year  rating
1  KGF2  2022     8.4
3  DDLJ  1995     8.1

In [56]:
df.iloc[[1,5,8,3]] #specific rows

IndexError: positional indexers are out-of-bounds

In [57]:
df.iloc[[1,3,6][2,3,6]] #specific rows and specific columns

TypeError: list indices must be integers or slices, not tuple

In [59]:
df = df.set_index('id')

KeyError: "None of ['id'] are in the columns"

In [60]:
df.loc[6414100192]

KeyError: 6414100192

In [1]:
df.loc[7129300520:1954400510]

NameError: name 'df' is not defined